{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1> Bienvenue lecteur !</h1>
<div class="post-list">
    <h2>Demande d'avis</h2>
    
    <form method="GET"  action="{% url 'create_ticket' %}">
        <button  class="btn btn-default" type="submit">Demander une critique</button>
    </form>
    
    <form method="GET"  action="{% url 'create_review' %}">
        <button  class="btn btn-default" type="submit">Créer une critique</button>
    </form>

    <ul>
        {% for post in posts%}
        <li>
            {{post.id}}.  {{post.title}} - {{post.time_created}} by {{post.user}} <br>
            {{post.description|slice:"0:200"}} 
            {% if post.ticket %}
            {{post.ticket.id}} - {{post.rating}} - {{post.headline}} 
            {% endif %}
        </li>
        {% endfor%}
    </ul>
        
    {% if page_obj %}
    <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; début</a>
                <a href="?page={{ page_obj.previous_page_number }}">précédent</a>
                {% endif %}
                
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                
                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">suivant</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">dernier &raquo;</a>
                {% endif %}
            </span>
        </div>
        {% endif %}
        
</div>
{% endblock content %}