{% extends 'base.html' %}
{% block content %}

<div class="create-ticket">
    <h2>L'ouvrage</h2>
    <h3> {{ object.ticket.title }} </h3>
    
    <p>
        {{ object..ticket.description }}
    </p>
    {{ object.ticket.user }}
    {{ object.ticket.time_created}}
    
    {% if object.ticket.image %}
    <img src="{{object.ticket.image.url}}" width = "100" height = "100">
    {% endif %}
    
</div>

<div class="create-review">
    {% csrf_token %}
    <h2>Supprimer la critique  {{ object.id }}</h2>
    {{ object.headline }}
    {{ object.body }}
    {{ object.rating }}
    
    
<form method="post" action="">
        {% csrf_token %}
    <button type="submit" value="Delete"  >Supprimer</button>
</form>
</div>
    
{% endblock content %}