{% extends 'base.html' %}
{% block content %}
<br/>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="create-ticket">
        <h2>L'ouvrage</h2>
        <h3> {{ form.instance.ticket.title }} </h3>
    
            <p>
                {{ form.instance.ticket.description }}
            </p>
        {{ form.instance.ticket.user }}
        {{ form.instance.ticket.time_created}}

        {% if form.instance.ticket.image %}
        <img src="{{form.instance.ticket.image.url}}" width = "100" height = "100">
        {% endif %}
        
    </div>

    <div class="create-review">
        <h2>Modifier la critique</h2>
        {{ form.as_p }}
    </div>
    <button type="submit" >Envoyer</button>
</form>
    
{% endblock content %}