{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="subscribe">
    <h2>S'abonner</h2>
    <form method="post"> {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" value="subscribe">Envoyer</button>
    </form>
</div>

<div class="follower">
    <h2>Abonnés</h2>
    <ul>
        {% for subs in form_follower %}
        <li> <a>{{subs.user}}

            </a> </li>
        {% empty %}
        <li>
            <p>Aucun abonné en ce moment.</p>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="subscription">
    <h2>Abonnements</h2>
    <ul>
        {% for subs in form_subscription %}
        <li> {{subs.followed_user}} <form method="POST" action="{% url 'unsubscribe_user' pk=subs.id  %}">
                {% csrf_token %} <button class="btn btn-default" type="submit">Se désabonner</button> </form>

        </li>
        {% empty %}
        <li>
            <p>Aucun abonnement en ce moment.</p>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock content %}