{% extends 'base.html' %}
{% block content %}
<br/>

<div class="authenticate">
    <div class="registration">
        <h2 >Inscrivez-vous maintenant !</h2>
        <br/>
        <form method="GET"  action="{% url 'signup' %}">
            {% csrf_token %} 
            <button  class="btn btn-default" type="submit">S'inscrire</button>
        </form>
        
    </div>
    
    <br/>
    <div class="login">
        <h2>Connectez-vous </h2>
        <br/>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <button class="btn btn-default" type="submit">Se connecter</button>
        </form>
    </div>
</div>
{% endblock content %}