{% load static %}
{% block content %}

{% if post.user == request.user %} Vous avez {% else%} {{post.user}} a {% endif %} demandé une critique:
<div class="ticket-post">
    {{post.id}}.  {{post.title}} 
    <div class="review-ww"> 
        le {{post.time_created}} 
    </div>
    {{post.description}} 

    {% if post.image %}
    <div class="cover">
        <img  src="{{post.image.url}} " />
    </div>
    {% endif %}
    <div class="action-button">
    {% if request.get_full_path == "/review/feed/" %}
    <form method="POST" action="{% url 'create_review' post.id  %}">
        {% csrf_token %} <button class="btn btn-default" type="submit">Créer une critique</button> </form>
    {% endif %}
    {% if request.get_full_path == "/review/posts/" %}
    <form method="POST" action="{% url 'update_ticket' post.id  %}">
        {% csrf_token %} <button class="btn btn-default" type="submit"  value="Update">MàJ votre demande</button> </form>
    {% endif %}
    </div>
</div>
{% endblock content %}        