/* remove navigators default to */
* {
  margin: 5px;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: large;
  background-color: rgb(247, 241, 232);
}

/* Navbar mobile inspired by Adam Nagy javascript academy */
header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: rgb(247, 241, 232);
  z-index: 100;
  height: 50px;
  position: fixed;
  top: 0;
  /* display: ; */
  justify-content: content-distribution;
  width: 100%;
}

/* Style page content */
.main {
  height: 100%;
  /* margin-left: 5px;  */
  padding: 20px;
}
.menubar {
  position: sticky;
}
.menubar > h1 {
  text-align: center;
}

.menubar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menubar li a {
  display: block;
  width: 60px;
}
.main {
  width: 80%;
  padding: 20px;
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.register {
  width: 120%;
  text-align: center;
  align-items: center;
}
div.col {
  width: 100%;
  padding-bottom: 20px;
  text-align: center;
}

div.col:nth-child(1) > form > button {
  /* padding: 20px; */
  display: inline-block;
}

.btn {
  background-color: rgb(247, 241, 232);
  border-color: grey;
  padding: 15px 32px;
  border-style: inset; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.btn-like {
  background-color: rgb(247, 241, 232);
  box-sizing: border-box;
  color: black;
  border-style: inset; 
  border-color: grey;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(247, 241, 232);
}
.footer p {
  font-size: small;
  color: darkgrey;
  text-align: center;
}
