{% load static %}
<html>

<head>
    <title>LitReview reborn</title>
    <link rel="stylesheet" href="{% static 'app.css' %}">
</head>

<body>
    <div class="menubar">
        <h1>LitReview</h1>
        <ul>

            {% if user.is_authenticated %}
            
            <li><a href="{% url 'home' %}">Acceuil</a></li>
            <li><a href="{% url 'password_change' %}">Changer le mot de passe</a></li>
            <li><a href="{% url 'create_ticket' %}">Créer un ticket</a></li>
            <li><a href="{% url 'logout' %}">Se déconnecter</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="main">
        {% block content %}{% endblock content %}
    </div>
    <div class="footer" aria-disabled="false">
        <p> Credits to Openclassrooms.fr based on django - this site doesn't track any of your data</p>
      </div>
</body>
</html>